.leaflet-draw-toolbar {
  position: relative;
  top: 170px;
  left: 6px;
}

.leaflet-draw-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.leaflet-draw-toolbar a {
  width: 36px !important;
  height: 36px !important;
  background-size: 300px;
  background-position: -27px !important;
}

.leaflet-draw-toolbar a:nth-child(2) {
  background-size: 300px;
  background-position: -177px !important;
}

.leaflet-draw-edit-edit, .leaflet-draw-edit-remove{
  display: none !important;
}

.leaflet-draw-edit-show {
  display: block !important;
}

.leaflet-draw-actions-top {
  position: relative ;
  top: 170px !important;
  left: 20px !important;
}

.leaflet-draw-actions-top-modified {
  top: 200px !important;
}

.leaflet-draw-actions-bottom-visible {
  top: 188px !important;
}

